.demo-container {
  position: relative;
  width: 100%;

  &__content {
    position: relative;
    width: 100%;
    margin-top: 30rpx;
  }

  & + & {
    margin-top: 50rpx;
  }

  &__title {
    &.title-padding {
      padding: 0rpx 30rpx;
    }
  }
}
