.sub-demo-container {
  position: relative;
  display: inline-block; // 消除共享margin属性
  width: 100%;

  & + & {
    margin-top: 24rpx;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26rpx;
  }
}
