.tn-image-crop-container {
  position: relative;
  width: 100%;

  .tn-image-crop-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1rpx solid var(--tn-color-gray-light);
    padding: 0rpx 0rpx 20rpx 0rpx;

    .tips {
      margin-left: 50rpx;
      line-height: 1;
      color: var(--tn-color-gray);
    }
  }
}

.avatar-crop-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #080808;

  .avatar-crop-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .avatar-crop-operation-bar {
    position: absolute;
    left: 0;
    bottom: 40rpx;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 30003;

    .confirm-btn,
    .cancel-btn {
      padding: 30rpx 40rpx;
    }
  }
}
