$animation-duration: 0.3s;

/* 缓入 */
.tn-animation-fade-in {
  opacity: 0;
  animation: fadeInAnimation ease $animation-duration forwards;
}

/* 动画 start */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 动画 end */
