.tn-sign-board-container {
  position: relative;
  width: 100%;

  .tn-sign-board-item {
    position: relative;
    width: 100%;

    & + .tn-sign-board-item {
      margin-top: 30rpx;
    }

    .sign-board-wrapper {
      position: relative;
      width: 100%;
      height: 460rpx;
      border: 1rpx dashed var(--tn-color-gray-disabled);
    }

    .sign-board-operation {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &.no-center {
        justify-content: flex-start;

        .btn {
          width: 100%;
        }
      }

      .btn {
        margin-right: 20rpx;
        margin-top: 30rpx;
      }
    }

    .preview-sign {
      position: relative;
      width: 100%;
      height: 460rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1rpx dashed var(--tn-color-gray-disabled);

      .image {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}
