.page {
  position: relative;
  width: 100%;
  height: 100vh;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;

    .scroll-view {
      width: 100%;
      height: 100%;
    }
  }
}
