.search-box-container {
  position: relative;
  width: 100%;

  .search-box-item {
    position: relative;
    width: 100%;

    & + .search-box-item {
      margin-top: 30rpx;
    }

    /* 自定义搜索框样式 start */
    &.custom-search-box {
      background-color: var(--tn-color-gray-light);
      border-radius: 30rpx 30rpx 0rpx 30rpx;
    }
    /* 自定义搜索框样式 end */
  }
}
