.empty-container {
  position: relative;
  width: 100%;

  .empty-item {
    position: relative;
    width: 100%;

    & + .empty-item {
      margin-top: 30rpx;
    }
  }
}

/* 自定义空白提示内容 start */
.custom-empty-icon {
  width: 200rpx;
  height: 200rpx;
}
.custom-empty-tips {
  font-size: 40rpx;
  color: var(--tn-color-gray);
}
/* 自定义空白提示内容 end */
